#myWebGLCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}

#myImageCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}

#myScoreCanvas {
    position: absolute;
    left: 512px;
    top: 0px;
    z-index: 10;
}